<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#55d0d0">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder px-4" href="#" style="font-size:25px">
                EduTrack
            </a>
        </div>
    </nav>

    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="text-center py-3">
                <img src="~/images/edutrackre.png" alt="Edu Track" style="width:100px;height:110px;" />
            </div>

            <ul>
                <li class="nav-item">
                    @Html.ActionLink(
                        "   Student Management",
                        "Index",
                        "Student",
                        null,
                        new { @class = "nav-link feather icon-users" }
                    )
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="wrapper-content">
            @RenderBody()
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
